@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #99998f;
  --secondary-color: #ffc107;
  --text-color: #333;
  --background-color: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  background-color:  #f5f5f5;
  margin: 0;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 100px;
}

nav a {
  color: #170675;
  text-decoration: none;
  margin-left: 1em;
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 1em;
}

.hero article {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(78, 74, 74, 0.8);
  padding: 1em;
  text-align: left;
}

.hero article img {
  float: inline-end;
  margin-left: 1em;
  width: 150px;
  height: auto;
}

section {
  margin: 1em 0;
}

section h2 {
  color: #080806;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1em;
}

footer a {
  margin: 0 0.5em;
}

footer a img {
  height: 30px;
}

footer a {
  text-decoration: none; /* Removing underline from social media links */
}
