main {
    max-width: 840px;
    border: 1px solid steelblue;
    background-color: bisque;
    padding: 10px;
}

nav a{
    color: rgb(9, 54, 150);
    background-color: rgb(29, 132, 216);
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}
aside {
    float:left;
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #5f6d99;
    color: #1c4718;
    text-align: center;
}

main img {
    float: right;
    width:150px;
    height: auto;
    border: 1px solid burlywood;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}
profile-image{
    float: center;
    width: 200px;
    height: 100px;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}